script(src='http://code.jquery.com/jquery-2.1.4.min.js')
script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js')
script(src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js")
script(src="http://imagesloaded.desandro.com/imagesloaded.pkgd.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.0/jquery.nicescroll.min.js")
script(src="https://apis.google.com/js/client.js")


script(src='js/components.min.js')



