.grid-item-content
    .overlay
        .overlay-content
            .check
                i.fa.fa-check
    img(ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}.jpg")