script(src='js/app.js')

//services

script(src='js/services/flickr_service.js')
script(src='js/services/google_service.js')
script(src="js/services/selected_factory.js")
script(src="js/services/imagesrc_factory.js")

//directives



//controllers

script(src='js/controllers/search_controller.js')
script(src='js/controllers/grid_controller.js')
script(src='js/controllers/save_controller.js')