doctype
html(lang='en' , ng-app="app")
    head
        include jade/head/head
    body.preload
        include  jade/body/body
        // main app model
        include  jade/app/app

        // temp script for development
        script



